body{
    font-family: "Reddit Mono", monospace;
    margin: 0;
}


.top-banner{
    background-image: url(image/street.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.header-section{
    text-align: center;
}